.home {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.home h2 {
  font-size: 2.5rem;
  margin: 2rem;
}
