.form {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.form-input input {
  width: 80%;
  font-size: 1.1rem;
  border: 1px solid gray;
  border-radius: 5px;
}
.form-input input:focus {
  outline: none;
  background-color: rgba(213, 226, 236, 0.897);
}

.form-input label {
  font-size: 1.1rem;
}
.form-btn {
  align-self: center;
}
.form-btn-active {
  background-color: rgb(62, 11, 109);
  color: #fff;
}
.form-btn-active:hover,
.form-btn-active:active {
  background-color: rgb(89, 22, 151);
  outline: none;
}
.form-btn-active:focus {
  outline: none;
}
